<a href="https://colab.research.google.com/github/yamaguchinorimitsu/ajax_app/blob/master/%E3%82%B9%E3%83%83%E3%82%AD%E3%83%AA%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92%EF%BC%94%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    '松田労働時間' : [160,160],  #松田の労働時間列の作成
    '浅木の労働時間': [161,175]
}


df = pd.DataFrame(data)

df

   松田労働時間  浅木の労働時間
0     160      161
1     160      175

In [3]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [4]:
df.index = ['4月', '5月'] # dfのインデックスを変更
df # 表示

    松田労働時間  浅木の労働時間
4月     160      161
5月     160      175

In [5]:
df.columns = ['松田の労働(h)', '浅木の労働(h)'] # 列名の変更
df # 表示

    松田の労働(h)  浅木の労働(h)
4月       160       161
5月       160       175

In [6]:
print(df.index)
print(df.columns)

Index(['4月', '5月'], dtype='object')
Index(['松田の労働(h)', '浅木の労働(h)'], dtype='object')

In [14]:
df=pd.read_csv('/content/KvsT.csv')
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [17]:
col = ['身長','体重']

In [18]:
type(df['派閥'])

pandas.core.series.Series

In [19]:
df['派閥']

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [26]:
# 特徴量の列を参照して xに代入
xcol = ['身長', '体重', '年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [27]:

# 正解データ（派閥）を参照して、tに代入
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [28]:
import sklearn
from sklearn import tree

model = tree.DecisionTreeClassifier(random_state=0)
model.fit(x,t)

DecisionTreeClassifier(random_state=0)

In [30]:
taro = [[170,70,20]]

model.predict(taro)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ'], dtype=object)

In [31]:

matsuda=[172,65,20]
asagi=[158,48,20]

new_data=[matsuda,asagi]
model.predict(new_data)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'たけのこ'], dtype=object)

In [32]:
model.score(x,t)

1.0