<a href="https://colab.research.google.com/github/yamaguchinorimitsu/ajax_app/blob/master/%E3%82%B9%E3%83%83%E3%82%AD%E3%83%AA%E6%A9%9F%E6%A2%B0%E7%AC%AC%EF%BC%97%E7%AB%A0%E7%B7%B4%E7%BF%92%E5%95%8F%E9%A1%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
%matplotlib inline
df = pd.read_csv('/content/ex4.csv')
df.head(2) # 先頭2行の確認

   class  dept_id  sex      score
0      3        0    1  60.170169
1      3        5    1  86.610078

In [7]:
df['sex'].value_counts()

1    154
0    146
Name: sex, dtype: int64

In [8]:
df['sex'].mean()

0.5133333333333333

In [10]:
df.groupby('class').mean()['score']

class
0    68.850195
1    69.510764
2    71.611092
3    67.572909
4    68.814253
Name: score, dtype: float64

In [13]:
pd.pivot_table(df,index = 'class' , columns = 'sex', values = 'score')

sex            0          1
class
0      68.358569  69.274011
1      67.472218  71.379432
2      71.704884  71.532109
3      63.897676  72.013815
4      69.952314  67.676191

In [18]:
dummy = pd.get_dummies(df['dept_id'],drop_first = True)

df2 = pd.concat([df,dummy],axis = 1)

df2 = df2.drop('dept_id',axis=1 )