<a href="https://colab.research.google.com/github/yamaguchinorimitsu/ajax_app/blob/master/%E3%82%B9%E3%83%83%E3%82%AD%E3%83%AA%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92%EF%BC%94%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = {
    '松田労働時間' : [160,160],  #松田の労働時間列の作成
    '浅木の労働時間': [161,175]
}


df = pd.DataFrame(data)

df

   松田労働時間  浅木の労働時間
0     160      161
1     160      175

In [4]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [5]:
df.index = ['4月', '5月'] # dfのインデックスを変更
df # 表示

    松田労働時間  浅木の労働時間
4月     160      161
5月     160      175

In [6]:
df.columns = ['松田の労働(h)', '浅木の労働(h)'] # 列名の変更
df # 表示

    松田の労働(h)  浅木の労働(h)
4月       160       161
5月       160       175

In [8]:
print(df.index)
print(df.columns)

Index(['4月', '5月'], dtype='object')
Index(['松田の労働(h)', '浅木の労働(h)'], dtype='object')

In [ ]:
print()