<a href="https://colab.research.google.com/github/yamaguchinorimitsu/ajax_app/blob/master/%E7%B7%B4%E7%BF%92%EF%BC%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score
import numpy as np

# CSVファイルを読み込み
df = pd.read_csv('/content/weather.csv', encoding='shift-jis')

df.head()

   weather_id weather
0           1      晴れ
1           2      曇り
2           3       雨

In [5]:
import pandas as pd

# データフレーム1
df1 = pd.DataFrame({'ID': [1, 2, 3, 4],
                    'Name': ['Alice', 'Bob', 'Charlie', 'Dave']})

# データフレーム2
df2 = pd.DataFrame({'ID': [3, 4, 5, 6],
                    'Age': [25, 30, 35, 40]})

# 内部結合
df_inner = pd.merge(df1, df2, on='ID', how='inner')

print(df_inner)

   ID     Name  Age
0   3  Charlie   25
1   4     Dave   30

In [7]:
import pandas as pd

# データフレーム1
df1 = pd.DataFrame({'ID': [1, 2, 3, 4],
                    'Name': ['Alice', 'Bob', 'Charlie', 'Dave']})

# データフレーム2
df2 = pd.DataFrame({'ID': [3, 4, 5, 6],
                    'Age': [25, 30, 35, 40]})

# 外部結合
df_outer = pd.merge(df1, df2, on='ID', how='left')

print(df_outer)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  25.0
3   4     Dave  30.0